body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

:root {
    --flex: flex;
    --center: center;
}

input[type="radio"] {
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    color: #3f3f3f;
}

input[type='submit'] {
    margin-top: 50px;
    width: 80%;
    height: 40px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: #fff;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}